@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:ital,wght@0,200;0,400;0,700;1,400&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 90vh;
  background-color: #ffcb8f;
}

#title {
  margin: 1em 0 1em 2.5em;
  font-size: 55px;
  color: #003747;
}

main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 15em;
}

.scores {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.add-header {
  text-align: end;
  margin-bottom: 1em;
  color: #003747;
}

.score-header {
  color: #003747;
}

#score-data {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

input {
  margin-bottom: 10px;
  background: #ffeeda;
  border: 2px solid #ebac64;
  padding: 8px 16px;
}

button {
  background: #ffeeda;
  border: 2px solid #ebac64;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 700;
  color: #003747;
}

aside {
  min-width: 40%;
}

section {
  display: flex;
  flex-direction: column;
  min-width: 55%;
}

.result:nth-child(even) {
  background: #ffcb8f;
}

.result:nth-child(odd) {
  background: #ffeeda;
}

.results {
  border: 2px solid #ebac64!important;
  color: #003747;
  overflow-y: scroll;
  height: 60vh;
}

.result {
  padding: 8px 16px;
}