@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:ital,wght@0,200;0,400;0,700;1,400&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 90vh;
  background-color: #ffcb8f;
}

#title {
  margin: 2em 0 2em 4.5em;
}

main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 15em;
}

.scores {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.add-header {
  text-align: end;
  margin-bottom: 1em;
}

#score-data {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

input {
  margin-bottom: 10px;
}

aside {
  min-width: 40%;
}

section {
  display: flex;
  flex-direction: column;
  min-width: 55%;
}

.result:nth-child(even) {
  background: #ccc;
}

.result:nth-child(odd) {
  background: #fff;
}